/* Import the Ysabeau font */
@font-face {
  font-family: "Poltawski Nowy";
  src: url("/fonts/Poltawski Nowy/PoltawskiNowy-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Set the Ysabeau font as the global font */
body {
  font-family: "Poltawski Nowy";
}

h1 {
  font-weight: 100;
}
